{% extends 'main/base.html' %}
{% load static %}

{% block title %}Родителям{% endblock %}

{% block content %}
<div class="container">
    <div class="section">
        <h1 class="section-title">Родителям</h1>
        <div class="official-info">
            <p>Уважаемые родители! Здесь вы найдёте полезную информацию о жизни нашего сада.</p>
            <ul class="sitemap-list" style="margin-top: 24px;">
                <li><a href="#">Информация для родителей</a></li>
                <li><a href="#">Страничка старшего воспитателя</a></li>
                <li><a href="#">Страничка психолога</a></li>
                <li><a href="#">Страничка музыкального руководителя</a></li>
                <li><a href="#">Страничка логопеда</a></li>
                <li><a href="#">Страничка преподавателя по ИЗО</a></li>
                <li><a href="#">Страничка преподавателя по английскому языку</a></li>
                <li><a href="#">Страничка воспитателей</a></li>
                <li><a href="#">Социальная поддержка</a></li>
                <li><a href="#">Детские безопасные сайты</a></li>
            </ul>
            <div style="margin-top: 32px; text-align: center;">
                <span class="small-note">Все материалы будут добавляться постепенно. Следите за обновлениями.</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}